/* #region topbar start*/
.topbar {
    background-color: #ECECEC;
    height: 30px;
    color: #666;
}

.container {
    margin: 0 auto;
    width: 1190px;
}

.welcome {
    height: 30px;
    line-height: 30px;
    font-size: 0;
}

.welcome span,
.welcome a {
    font-size: 12px;
}

.welcome .hello {
    margin-right: 28px;
}

.welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666;
}

.welcome .register {
    padding-left: 10px;
}

.topbar-nav .list {
    height: 30px;
    line-height: 30px;
}

.topbar-nav .list li {
    float: left;
}

.topbar-nav .list li a {
    padding: 0 15px;
    border-right: 1px solid #666;
}

.topbar-nav .list li:first-child a {
    padding-left: 0;
    border-right: 1px solid #666;
}

.topbar-nav .list li:last-child a {
    padding-right: 0;
    border-right: 0;
}

/* #endregion topbar end*/
/* #region header start */
.header {
    /* background-color: skyblue; */
}

.header .container form {
    font-size: 0;
    margin-top: 42px;
}

.header .container form input {
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D;
}

.header .container form button {
    width: 80px;
    height: 36px;
    vertical-align: top;
    background-color: #DD302D;
    background-image: url('../images/serch_icon.png');
    background-repeat: no-repeat;
    background-position: 28px 6px;
}

/* #endregion header end */
/* #region main-nav start */
.main-nav {
    border-bottom: 1px solid #DD302D;
}

.main-nav .container .category-bar {
    width: 190px;
    height: 48px;
    background-color: #DD302D;
    color: white;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
}

.main-nav .container .category li {
    float: left;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    margin: 0 10px;
    font-weight: 500;
}

/* #endregion main-nav end */
/* #region main-content start */
.main-content {
    margin-top: 10px;
}

.main-content .slide-nav {
    background-color: #F4F4F4;
    width: 190px;
    height: 458px;
    position: relative;
}

.main-content .slide-nav li {
    font-size: 14px;
    line-height: 28px;
    padding-left: 16px;
}

.main-content .slide-nav li:hover .second-menu {
    display: block;
}

.second-menu {
    padding-left: 20px;
    width: 680px;
    height: 458px;
    position: absolute;
    top: 0;
    left: 190px;
    background-color: white;
    display: none;
}

.second-menu dl {
    height: 36px;
    line-height: 36px;
}

.second-menu dl:first-child {
    height: 36px;
    line-height: 36px;
    margin-top: 10px;
}

.second-menu dl dt {
    float: left;
    width: 70px;
    font-weight: bold;
    padding-right: 10px;
}

.second-menu dl dd {
    float: left;
}

.second-menu dl dd a {
    padding: 0 10px;
    border-left: 1px solid #666;
}

.main-content .banner {
    background-color: orange;
    width: 690px;
    height: 458px;
    margin: 0 10px;
}

.main-content .other {
    width: 290px;
    height: 458px;
}

.main-content .slide-nav li:hover {
    background-color: #DD302D;
}

.main-content .slide-nav li:hover>a {
    color: white;
}

.other .message {
    width: 260px;
    height: 156px;
    padding: 0 14px;
    border: 1px solid #D9D9D9;
}

.other .message .title {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #D9D9D9;
}

.other .message .title span {
    font-size: 14px;
    font-weight: bold;
}

.other .other-nav {
    width: 290px;
    height: 290px;
    background-color: white;
    margin-top: 10px;
    overflow: hidden;
}

.other .message .msg-list {
    height: 26px;
    line-height: 26px;
}

.other-nav-list li {
    /* background-color: skyblue; */
    width: 48px;
    height: 70px;
    float: left;
    margin: 0 11px;
    text-align: center;
    cursor: pointer;
}

.other-nav-list li:first-child {
    margin-left: 16px;
}

.other-nav-list:first-child {
    margin-top: 16px;
}

.other-nav-list:nth-child(2) {
    margin-top: 17px;
}

.other-nav-list:nth-child(3) {
    margin-top: 17px;
}

.other-nav-list .picture {
    width: 48px;
    height: 48px;
    background-image: url('../images/精灵图-侧边功能.png');
}

/* 第1行图 */
.other-nav-list:first-child li:nth-child(1) .picture {
    background-position: 0 0;
}

.other-nav-list:first-child li:nth-child(2) .picture {
    background-position: -48px 0;
}

.other-nav-list:first-child li:nth-child(3) .picture {
    background-position: -96px 0;
}

.other-nav-list:first-child li:nth-child(4) .picture {
    background-position: -144px 0;
}

/* 第2行图 */
.other-nav-list:nth-child(2) li:nth-child(1) .picture {
    background-position: 0 -48px;
}

.other-nav-list:nth-child(2) li:nth-child(2) .picture {
    background-position: -48px -48px;
}

.other-nav-list:nth-child(2) li:nth-child(3) .picture {
    background-position: -96px -48px;
}

.other-nav-list:nth-child(2) li:nth-child(4) .picture {
    background-position: -144px -48px;
}

/* 第3行图 */
.other-nav-list:nth-child(3) li:nth-child(1) .picture {
    background-position: 0 -96px;
}

.other-nav-list:nth-child(3) li:nth-child(2) .picture {
    background-position: -48px -96px;
}

.other-nav-list:nth-child(3) li:nth-child(3) .picture {
    background-position: -96px -96px;
}

.other-nav-list:nth-child(3) li:nth-child(4) .picture {
    background-position: -144px -96px;
}

/* #endregion main-content end */
/* #region seckill start */
.seckill {
    margin-top: 10px;
}

.seckill img {
    float: left;
    margin-right: 11px;
}

.seckill img:last-child {
    margin-right: 0;
}

/* #endregion seckill end */

/* #region floor start */
.floor {
    margin-top: 48px;
}

.floor-name {
    font-size: 20px;
}

.floor-nav {
    padding-bottom: 4px;
    border-bottom: 2px solid #DD302D;
}

.floor-nav-list {
    height: 30px;
    line-height: 30px;
}

.floor-nav-list li {
    float: left;
    font-size: 14px;
}

.floor-nav-list li a {
    padding: 0 10px;
    border-right: 1px solid #666;
}

.floor-nav-list li:first-child a {
    padding-left: 0;
}

.floor-nav-list li:last-child a {
    padding-right: 0;
    border: 0;
}

.floor-info .item {
    float: left;
    height: 432px;
}

.floor-info .item1 {
    height: 392px;
    width: 190px;
    background-color: #F4F4F4;
    padding: 20px;
}

.floor-info .item2 {
    width: 340px;
    /* background-color: green; */
}

.floor-info .item3 {
    width: 206px;
    /* background-color: brown; */
    border-right: 1px solid #e2e2e2;
}

.floor-info .item3 img {
    border-bottom: 1px solid #e2e2e2;
}

.floor-info .item4 {
    width: 206px;
    /* background-color: red; */
    border-right: 1px solid #e2e2e2;
}

.floor-info .item4 img {
    border-bottom: 1px solid #e2e2e2;
}

.floor-info .item5 {
    width: 206px;
    /* background-color: gray; */
}

.floor-info .item5 img {
    border-bottom: 1px solid #e2e2e2;
}

.floor-info .item1-list li {
    width: 90px;
    height: 22px;
    padding-bottom: 3.5px;
    border-bottom: 1px solid #D9D9D9;
    font-size: 16px;
    text-align: center;
}

.floor-info .item1-list li:nth-child(2n-1) {
    float: left;
}

.floor-info .item1-list li:nth-child(2n) {
    float: right;
}

.floor-info .item1-list li:nth-child(3) {
    margin: 14.4px 0;
}

.floor-info .item1-list li:nth-child(4) {
    margin: 14.4px 0;
}

.floor-info .item1-list {
    margin-bottom: 29px;
}

.h {
    width: 1190px;
    height: 2000px;

}

/* #endregion floor end */

/* #region footer start */
.footer {
    margin-top: 48px;
    background-color: #483E3E;
    height: 440px;
}

.top-links-list {
    width: 190px;
    height: 176px;
    float: left;
    margin-top: 48px;
}

.top-links-list li a {
    color: white;
    font-size: 14px;
}

.line {
    height: 1px;
    background-color: #584d4d;
    margin-top: 22px;
}

.bottom-links {
    text-align: center;
}

.bottom-links-list {
    display: inline-block;
    margin-top: 47px;
}

.bottom-links-list li a {
    color: white;
    font-size: 14px;
    padding: 0 26px;
    border-right: 1px solid #D9D9D9;
}

.bottom-links-list li:first-child a {
    padding-left: 0;
    border-right: 1px solid #D9D9D9;
}

.bottom-links-list li:last-child a {
    padding-right: 0;
    border: 0
}

.bottom-links-list li {
    float: left;
}

.copyright {
    margin-top: 10px;
    color: white;
    text-align: center;
}

/* #endregion footer end */