/* #region topbar start*/
.topbar {
    background-color: #ECECEC;
    height: 30px;
    color: #666;
}

.container {
    margin: 0 auto;
    width: 1190px;
}

.welcome {
    height: 30px;
    line-height: 30px;
    font-size: 0;
}

.welcome span,
.welcome a {
    font-size: 12px;
}

.welcome .hello {
    margin-right: 28px;
}

.welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666;
}

.welcome .register {
    padding-left: 10px;
}

.topbar-nav .list {
    height: 30px;
    line-height: 30px;
}

.topbar-nav .list li {
    float: left;
}

.topbar-nav .list li a {
    padding: 0 15px;
    border-right: 1px solid #666;
}

.topbar-nav .list li:first-child a {
    padding-left: 0;
    border-right: 1px solid #666;
}

.topbar-nav .list li:last-child a {
    padding-right: 0;
    border-right: 0;
}

/* #endregion topbar end*/
/* #region header start */
.header {
    /* background-color: skyblue; */
}

.header .container form {
    font-size: 0;
    margin-top: 42px;
}

.header .container form input {
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D;
}

.header .container form button {
    width: 80px;
    height: 36px;
    vertical-align: top;
    background-color: #DD302D;
    background-image: url('../images/serch_icon.png');
    background-repeat: no-repeat;
    background-position: 28px 6px;
}

/* #endregion header end */
/* #region main-nav start */
.main-nav {
    border-bottom: 1px solid #DD302D;
}

.main-nav .container .category-bar {
    width: 190px;
    height: 48px;
    background-color: #DD302D;
    color: white;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
}

.main-nav .container .category li {
    float: left;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    margin: 0 10px;
    font-weight: 500;
}

/* #endregion main-nav end */
/* #region main-content start */
.main-content {
    margin-top: 10px;
}

.main-content .slide-nav {
    background-color: #F4F4F4;
    width: 190px;
    height: 458px;
}

.main-content .slide-nav li {
    font-size: 14px;
    line-height: 28px;
    padding-left: 16px;
}

.main-content .banner {
    background-color: orange;
    width: 690px;
    height: 458px;
    margin: 0 10px;
}

.main-content .other {
    background-color: green;
    width: 290px;
    height: 458px;
}

.main-content .slide-nav li:hover {
    background-color: #DD302D;
}

.main-content .slide-nav li:hover a {
    color: white;
}

/* #endregion main-content end */